<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO <%= user.name %></h1>
    <a href="./clients/index">MY CLIENTS</a>
    <a href="./clients/new">ADD CLIENT</a>

    <!-- BELOW IS SPACE FOR FORECAST -->
</body>
</html>