<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>new client</title>
</head>
<body>
    <% if (user) { %>
        <a href="../dash">DASHBOARD</a>
        <a href="./showMy">MY CLIENTS</a>
    <a href="./new">ADD CLIENT</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOGIN</a>
      <% } %>

    <h1>new client</h1>
    <form id="new-form" action="/clients/<%= client._id %>?_method=PUT" method="POST">
        <label>Name: </label>
        <input type="text" name="name">
        <label>Email Address: </label>
        <input type="text" name="email">
        <label>Phone <small>(no dashes or spaces)</small>: </label>
        <input type="text" name="phone">
        <!-- <label>Service:
            <select name="services">
                <option value="Cut">Cut</option>
                <option value="Cut and Color">Cut and Color</option>
                <option value="Color">Color</option>
                <option value="Spa">Spa</option>
            </select>
        </label> -->
        <input type="submit" value="Make Changes">
      </form>
</body>
</html>