<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new client</title>
</head>
<body>
    <h1>new client</h1>
    <form id="new-form" action="/clients" method="POST">
        <label>Name: </label>
        <input type="text" name="name">
        <label>Email Address: </label>
        <input type="text" name="email">
        <label>Phone <small>(no dashes or spaces)</small>: </label>
        <input type="text" name="phone">
        <input type="submit" value="Add Client">
      </form>
</body>
</html>